Repository kozaka93/2025L-ExploratoryDataAnalysis, pull requests merged in 2025-05, with the labels that each got.

#307 [HW4] Pawel Mozaryn
  homeworks/hw4/MozarynPawel/pd4_explo_mozaryn.pdf
  homeworks/hw4/MozarynPawel/pd4_kod.R
Labels: HW4, Late ⏰

#306 [HW4] Jankowska Barbara
  homeworks/hw4/JankowskaBarbara/hw4.R
  homeworks/hw4/JankowskaBarbara/plot.png
  homeworks/hw4/JankowskaBarbara/plot_original.png
Labels: HW4, Late ⏰

#305 [HW4] Harbaty Maria
  homeworks/hw4/HarbatyMaria/Rplot.png
  homeworks/hw4/HarbatyMaria/hw4.R
  homeworks/hw4/HarbatyMaria/wykres_do_poprawienia.png
Labels: HW4

#304 [HW4] Pinkowska Julia
  homeworks/hw4/PińkowskaJulia/PińkowskaJulia.R
  homeworks/hw4/PińkowskaJulia/Poprawiony_wykres.jpeg
  homeworks/hw4/PińkowskaJulia/coal_prices_daily.csv
  homeworks/hw4/PińkowskaJulia/wykres.jpeg
Labels: HW4

#303 [HW4] Pieczywok Jan
  homeworks/hw4/Pieczywok Jan/wizualizacja koncowa.jpeg
  homeworks/hw4/Pieczywok Jan/wizualizacja poczatkowa.png
  homeworks/hw4/Pieczywok Jan/zad dom 4.R
Labels: HW4

#302 [HW4] Wiktor Chmiel
  homeworks/hw4/ChmielWiktor/Do_poprawy.avif
  homeworks/hw4/ChmielWiktor/Wiktor_Chmiel_pr4.R
  homeworks/hw4/ChmielWiktor/Wykres_jajka.png
Labels: HW4

#301 [HW4] Kachniewska Olga
  homeworks/hw4/KachniewskaOlga/HW4_Kachniewska_Olga.R
Labels: HW4

#299 [HW4] Julia Małaśnicka
  homeworks/hw4/MalasnickaJulia/gld_us_d.xlsx
  homeworks/hw4/MalasnickaJulia/hw4.R
  homeworks/hw4/MalasnickaJulia/zloto_wykres_kon.png
  homeworks/hw4/MalasnickaJulia/zloto_wykres_pocz.png
Labels: HW4

#298 [HW4] Grodzka Wiktoria
  homeworks/hw4/GrodzkaWiktoria/AmericansFinancialSituation_orginal.png
  homeworks/hw4/GrodzkaWiktoria/AmericansFinancialSituation_wykres1.png
  homeworks/hw4/GrodzkaWiktoria/AmericansFinancialSituation_wykres2.png
  homeworks/hw4/GrodzkaWiktoria/data.csv
  homeworks/hw4/GrodzkaWiktoria/hw4.R
Labels: HW4

#297 [HW4] Labus Katarzyna
  homeworks/hw4/LabusKatarzyna/hw4.R
  homeworks/hw4/LabusKatarzyna/poprawiony_wykres.png
  homeworks/hw4/LabusKatarzyna/wykres do poprawy.png
Labels: HW4

#296 [HW4] Kalis Krystian
  homeworks/hw4/KalisKrystian/Pd4.R
  homeworks/hw4/KalisKrystian/wykres1.png
  homeworks/hw4/KalisKrystian/wykres2.png
Labels: HW4

#293 [HW4] Gralak Karolina
  homeworks/hw4/GralakKarolina/Mojwykres.png
  homeworks/hw4/GralakKarolina/Pracadomowa4.R
  homeworks/hw4/GralakKarolina/Wykrespierwszy.png
Labels: HW4

#292 [HW4] Twarowski Kamil
  homeworks/hw4/TwarowskiKamil/HW4_Kamil_Twarowski_komentarz.pdf
  homeworks/hw4/TwarowskiKamil/kod_PD4.R
Labels: HW4

#291 [HW4] Pawlak Stanislaw
  homeworks/hw4/PawlakStanislaw/dane.csv
  homeworks/hw4/PawlakStanislaw/poprawiony_wykres.png
  homeworks/hw4/PawlakStanislaw/pracadom4.R
  homeworks/hw4/PawlakStanislaw/zly_wykres.png
Labels: HW4

#289 [HW4] Wilk Dominik
  homeworks/hw4/WilkDominik/Zrzut ekranu 2025-04-27 223111.png
  homeworks/hw4/WilkDominik/hw4.Rmd
Labels: HW4

#288 [HW4] Tywonek Jakub
  homeworks/hw4/TywonekJakub/PD4.Rmd
  homeworks/hw4/TywonekJakub/PD4.html
  homeworks/hw4/TywonekJakub/tabelka.jpg
Labels: HW4

#287 [HW 4] Kosiarski Piotr
  homeworks/hw4/KosiarskiPiotr/Zrzut ekranu 2025-04-28 183300.png
  homeworks/hw4/KosiarskiPiotr/[HW4] Kosiarski Piotr.R
Labels: HW4

#286 [HW4] Junosza-Szaniawska Ewa
  homeworks/hw4/JunoszaSzaniawskaEwa/hw4.R
Labels: HW4

#284 [HW4] Niedzielewski Maciej
  homeworks/hw4/NiedzielewskiMaciej/hw4.R
  homeworks/hw4/NiedzielewskiMaciej/poprawiony_wykres.png
  homeworks/hw4/NiedzielewskiMaciej/sondaż (wizualizacja źródłowa).png
Labels: HW4

#283 [HW4] Wrobel Kacper
  homeworks/hw4/WrobelKacper/Kacper-Wrobel-WDEP-PD4.R
  homeworks/hw4/WrobelKacper/obroty_towarowe_handlu_zagranicznego_ogolem_i_wedlug_krajow_w_styczniu__lutym_2025_r..xlsx
  homeworks/hw4/WrobelKacper/wykres_oryginalny.jpg
  homeworks/hw4/WrobelKacper/wykres_poprawiony.png
Labels: HW4

#274 [HW4] Michalina Woźnica
  homeworks/hw4/PD4/dane.csv
  homeworks/hw4/PD4/homework04.Rmd
  homeworks/hw4/PD4/pd4.jpg
Labels: fixes needed 🛠️, HW4

#282 [HW4] Bujnowski Mateusz
  homeworks/hw4/BujnowskiMateusz/Poprawa wykresu.R
  homeworks/hw4/BujnowskiMateusz/Przeciętne zatrudnienie w sektorze przedsiębiorstw.jpg
  homeworks/hw4/BujnowskiMateusz/przecietne_zatrudnienie_i_wynagrodzenie_w_sektorze_przedsiebiorstw_w_marcu_2025_r._dane.xlsx
  homeworks/hw4/BujnowskiMateusz/wykres_poczatkowy.jpg
Labels: HW4

#281 [HW4] Galiński Filip
  homeworks/hw4/GalinskiFilip/COLAnamenik.png
  homeworks/hw4/GalinskiFilip/COLAsuper.png
  homeworks/hw4/GalinskiFilip/KO_1919-09-06_2025-04-06.csv
  homeworks/hw4/GalinskiFilip/pd4.R
Labels: HW4

#280 [HW4] Olech Emilia
  homeworks/hw4/OlechEmilia/Emilia_Olech_HW4.R
  homeworks/hw4/OlechEmilia/Wykres.png
Labels: HW4

#279 [HW4] Grzegory Michal
  homeworks/hw4/GrzegoryMichal/Michał Grzegory HW4.R
  homeworks/hw4/GrzegoryMichal/Prezentacja wynikowa za Q1 2025.pdf
  homeworks/hw4/GrzegoryMichal/błędna wizualizacja.png
  homeworks/hw4/GrzegoryMichal/nowa wizualizacja.pdf
Labels: HW4

#278 [HW4] Wisniewski Jan
  homeworks/hw4/Wisniewski Jan/hw4.R
  homeworks/hw4/Wisniewski Jan/koncowy_wykres.png
  homeworks/hw4/Wisniewski Jan/poczatkowy_wykres.png
Labels: HW4

#277 [HW4] Utkowski Piotr
  homeworks/hw4/UtkowskiPiotr/1.jpg
  homeworks/hw4/UtkowskiPiotr/2.jpg
  homeworks/hw4/UtkowskiPiotr/3.jpg
  homeworks/hw4/UtkowskiPiotr/GpoCNPlXUAAjIj0.jpeg
  homeworks/hw4/UtkowskiPiotr/Utkowski_Piotr.Rmd
  homeworks/hw4/UtkowskiPiotr/Utkowski_Piotr.html
Labels: HW4

#276 [HW4] Kowalczyk Filip
  homeworks/hw4/KowalczykFilip/Przewozy pasażerów transportem kolejowym (tys.)[bezwzgledna].csv
  homeworks/hw4/KowalczykFilip/dobry.png
  homeworks/hw4/KowalczykFilip/pracadom.R
  homeworks/hw4/KowalczykFilip/zly.png
Labels: HW4

#275 [HW4] Baranczyk Maciej
  homeworks/hw4/BaranczykMaciej/Oryginał.png
  homeworks/hw4/BaranczykMaciej/Poprawiony.png
  homeworks/hw4/BaranczykMaciej/hw4.R
  homeworks/hw4/BaranczykMaciej/wypadki_przy_pracy_w_2024_r.__dane_wstepne.pdf
Labels: HW4

#273 [HW4] Rogalska Roksana
  homeworks/hw4/RogalskaRoksana/PD4_kod.R
  homeworks/hw4/RogalskaRoksana/wykres_do_poprawy.png
  homeworks/hw4/RogalskaRoksana/wykres_poprawiony.png
Labels: HW4

#272 [HW4] Zawadzki Daniel
  homeworks/hw4/ZawadzkiDaniel/domowa4.R
Labels: HW4

#271 [HW4] Iwaniuk Aleksandra
  homeworks/hw4/IwaniukAleksandra/Wskaźnik cen towarów i usług konsumpcyjnych.csv
  homeworks/hw4/IwaniukAleksandra/kod.R
  homeworks/hw4/IwaniukAleksandra/wykres_oryginal.png
  homeworks/hw4/IwaniukAleksandra/wykres_poprawiony.png
Labels: HW4

#270 [HW4] Lambert Mateusz
  homeworks/hw4/LambertMateusz/dane.csv
  homeworks/hw4/LambertMateusz/hw.R
  homeworks/hw4/LambertMateusz/oryginał.png
  homeworks/hw4/LambertMateusz/poprawiony_wykres.png
Labels: HW4

#269 [HW4] Adamczuk Maciej
  homeworks/hw4/AdamczukMaciej/hw4.R
  homeworks/hw4/AdamczukMaciej/poprawiony_wykres.png
  homeworks/hw4/AdamczukMaciej/wykres_do_poprawy.csv
  homeworks/hw4/AdamczukMaciej/wykres_do_poprawy.png
Labels: HW4

#268 [HW4] Peret Agnieszka
  homeworks/hw4/PeretAgnieszka/PD4.R
  homeworks/hw4/PeretAgnieszka/Wykres_pierwotny.jpg
  homeworks/hw4/PeretAgnieszka/wykres_poprawiony.jpeg
Labels: HW4

#267 [HW4] Mocarski Kacper
  homeworks/hw4/MocarskiKacper/homework 4.Rmd
Labels: HW4

#266 [HW4] Lewicki Kacper
  homeworks/hw4/LewickiKacper/hw4.r
  homeworks/hw4/LewickiKacper/zrodlo.png
Labels: HW4

#265 [HW4] Kania Przemysław
  homeworks/hw4/KaniaPrzemyslaw/hw4.R
  homeworks/hw4/KaniaPrzemyslaw/koniunktura_dane.csv
  homeworks/hw4/KaniaPrzemyslaw/oryginał.png
  homeworks/hw4/KaniaPrzemyslaw/poprawiony.png
Labels: HW4

#264 [HW4] Stefanczyk Pawel
  homeworks/hw4/StefanczykPawel/Rplot.png
  homeworks/hw4/StefanczykPawel/hw4.R
  homeworks/hw4/StefanczykPawel/sredniewynagrodzenie.xlsx
Labels: HW4

#263 [HW4] Migasiuk Maciej
  homeworks/hw4/MigasiukMaciej/main.R
  homeworks/hw4/MigasiukMaciej/poprawiony_wykres.png
  homeworks/hw4/MigasiukMaciej/wykres.jpg
Labels: HW4

#261 [HW4] Brzosko Maria
  homeworks/hw4/BrzoskoMaria/fajniejszy_wykresik.png
  homeworks/hw4/BrzoskoMaria/kodzik.R
  homeworks/hw4/BrzoskoMaria/wykresik.png
Labels: HW4

#310 [HW5] Michalina Woźnica
  homeworks/hw5/WoznicaMichalina/kolo.jpeg
  homeworks/hw5/WoznicaMichalina/pd5.Rmd
  homeworks/hw5/WoznicaMichalina/pd5.html
  homeworks/hw5/WoznicaMichalina/slupek.jpeg
  homeworks/hw5/WoznicaMichalina/wyniki.jpg
Labels: HW5

#311 [HW5] Gralak Karolina
  homeworks/hw5/GralakKarolina/PD5.R
  homeworks/hw5/GralakKarolina/WDED_Raport.pdf
Labels: HW5

#313 [HW5] Talalaj Michal
  homeworks/hw5/TalalajMichal/Pokemon-Lets-Go-Stats.jpg
  homeworks/hw5/TalalajMichal/pd5.Rmd
  homeworks/hw5/TalalajMichal/raport.html
  homeworks/hw5/TalalajMichal/statictics_tab_league.png
Labels: HW5

#314 [HW5] Junosza-Szaniawska Ewa
  homeworks/hw5/JunoszaSzaniawskaEwa/hw5.html
  homeworks/hw5/JunoszaSzaniawskaEwa/hw5_files/hw5.Rmd
  homeworks/hw5/JunoszaSzaniawskaEwa/hw5_files/hw5.csv
Labels: HW5

#315 [HW5] Migasiuk Maciej
  homeworks/hw5/MigasiukMaciej/babelki.png
  homeworks/hw5/MigasiukMaciej/pd5.Rmd
  homeworks/hw5/MigasiukMaciej/pd5.html
  homeworks/hw5/MigasiukMaciej/wyniki.png
Labels: HW5

#317 [HW5] Kowalczyk Filip
  homeworks/hw5/KowalczykFilip/raport5.pdf
Labels: HW5

#318 [HW5] Stefanczyk Pawel
  homeworks/hw5/StefanczykPawel/Raport_hw5_intro_to_data_exploration.pdf
  homeworks/hw5/StefanczykPawel/hw5.R
  homeworks/hw5/StefanczykPawel/lotr_tidy.csv
Labels: HW5

#319 [HW5] Bujnowski Mateusz
  homeworks/hw5/BujnowskiMateusz/Ankieta.pdf
  homeworks/hw5/BujnowskiMateusz/Raport z eksperymentu.Rmd
  homeworks/hw5/BujnowskiMateusz/Raport-z-eksperymentu.html
  homeworks/hw5/BujnowskiMateusz/Wykres słupkowy.png
  homeworks/hw5/BujnowskiMateusz/Wyniki ankiety na wykresach.png
  homeworks/hw5/BujnowskiMateusz/Wyniki ankiety.xlsx
  homeworks/hw5/BujnowskiMateusz/wykres kołowy.png
Labels: HW5

#321 [HW5] Adamczuk Maciej
  homeworks/hw5/AdamczukMaciej/hw5_Raport.docx
  homeworks/hw5/AdamczukMaciej/hw5_dane.xlsx
  homeworks/hw5/AdamczukMaciej/hw5_pdf.pdf
Labels: HW5

#324 [HW5] Małaśnicka Julia
  homeworks/hw5/MalasnickaJulia/hw5-wykresy.R
  homeworks/hw5/MalasnickaJulia/pd5-raport.Rmd
  homeworks/hw5/MalasnickaJulia/pd5-raport.pdf
Labels: HW5

#325 [HW5] Baranczyk Maciej
  homeworks/hw5/BaranczykMaciej/Wybór lepszej reprezentacji danych.xlsx
  homeworks/hw5/BaranczykMaciej/Wypadki drogowe według ważniejszych przyczyn.xlsx
  homeworks/hw5/BaranczykMaciej/homework5.Rmd
  homeworks/hw5/BaranczykMaciej/homework5.html
  homeworks/hw5/BaranczykMaciej/pie_chart.png
  homeworks/hw5/BaranczykMaciej/słupkowy.png
Labels: HW5

#326 [HW5] Grzegory Michal
  homeworks/hw5/GrzegoryMichal/HW5 Raport.Rmd
  homeworks/hw5/GrzegoryMichal/HW5-Raport.html
Labels: HW5

#327 [HW5] Łabuś Katarzyna, Olech Emilia, Peret Agnieszka
  homeworks/hw5/ŁabuśKatarzyna_OlechEmilia_PeretAgnieszka/HW5_kod.R
  homeworks/hw5/ŁabuśKatarzyna_OlechEmilia_PeretAgnieszka/HW5_raport.pdf
Labels: HW5

#328 [HW5] Brzosko Maria
  homeworks/hw5/BrzoskoMaria/ankieta.xlsx
  homeworks/hw5/BrzoskoMaria/barplot.png
  homeworks/hw5/BrzoskoMaria/hw5.Rmd
  homeworks/hw5/BrzoskoMaria/hw5.html
  homeworks/hw5/BrzoskoMaria/kodzik.R
  homeworks/hw5/BrzoskoMaria/treemap.png
  homeworks/hw5/BrzoskoMaria/wykresiki.PNG
Labels: HW5

#329 [HW5] Wrobel Kacper
  homeworks/hw5/WrobelKacper/kolowy.png
  homeworks/hw5/WrobelKacper/pd5.Rmd
  homeworks/hw5/WrobelKacper/pd5.html
  homeworks/hw5/WrobelKacper/pyt1res.png
  homeworks/hw5/WrobelKacper/pyt2res.png
  homeworks/hw5/WrobelKacper/slupkowy.png
Labels: HW5

#330 [HW5] Rogalska Roksana
  homeworks/hw5/RogalskaRoksana/raport.Rmd
  homeworks/hw5/RogalskaRoksana/raport.html
  homeworks/hw5/RogalskaRoksana/wykres_1.png
  homeworks/hw5/RogalskaRoksana/wykres_2.png
Labels: HW5

#331 [HW5] Iwaniuk Aleksandra, Lambert Mateusz
  homeworks/hw5/IwaniukAleksandra_LambertMateusz/PD_5_raport.pdf
  homeworks/hw5/IwaniukAleksandra_LambertMateusz/pd.R
Labels: HW5

#335 [HW5] Tomusiak Bruno, Twarowski Kamil
  homeworks/hw5/Tomusiak_Twarowski/PD5.pdf
Labels: HW5

#336 [HW5] Wilk Dominik
  homeworks/hw5/WilkDominik/HW5.Rmd
  homeworks/hw5/WilkDominik/HW5.html
  homeworks/hw5/WilkDominik/odpowiedz_1.png
  homeworks/hw5/WilkDominik/odpowiedz_2.png
  homeworks/hw5/WilkDominik/odpowiedz_3.png
Labels: HW5

#337 [HW5]MichalinaDuda_MankowskiGerard
  homeworks/hw5/DudaMichalina_MankowskiGerard/RAPORTPD5.Rmd
  homeworks/hw5/DudaMichalina_MankowskiGerard/RAPORTPD5.html
Labels: HW5

#338 [HW5] Utkowski Piotr
  homeworks/hw5/UtkowskiPiotr/raport.pdf
Labels: HW5

#341 [HW5] Kosiarski Piotr
  homeworks/hw5/KosiarskiPiotr/Zrzut ekranu 2025-05-20 000342.png
  homeworks/hw5/KosiarskiPiotr/pd5.R
  homeworks/hw5/KosiarskiPiotr/pd_raport.pdf
  homeworks/hw5/KosiarskiPiotr/wykres kolowy.pdf
  homeworks/hw5/KosiarskiPiotr/wykres liniowy.pdf
Labels: HW5

#345 [HW5] Michalak Krzysztof
  homeworks/hw5/MichalakKrzysztof/Eksperyment-Raport.pdf
  homeworks/hw5/MichalakKrzysztof/PD5.r
Labels: HW5

#346 [HW5] Mocarski Kacper
  homeworks/hw5/MocarskiKacper/homeworks/hw5/Raport z eksperymentu.pdf
Labels: HW5

#348 [HW5] Kalis Krystian
  homeworks/hw5/KalisKrystian/Data.csv
  homeworks/hw5/KalisKrystian/Pd5.R
  homeworks/hw5/KalisKrystian/Raport.pdf
  homeworks/hw5/KalisKrystian/wykres1.png
  homeworks/hw5/KalisKrystian/wykres2.png
Labels: HW5, Late ⏰

#349 [HW5] Chmiel Wiktor
  homeworks/hw5/ChmielWiktor/Eksploracja_danych.pdf
  homeworks/hw5/ChmielWiktor/Praca_domowa_5.R
Labels: HW5, Late ⏰

#351 [HW5]Eberhardt Maria
  homeworks/hw5/EberhardtMaria/porownanie.R
  homeworks/hw5/EberhardtMaria/porownanie_wykresow.pdf
Labels: HW5, Late ⏰
