Repository kozaka93/2025L-ExploratoryDataAnalysis, pull requests merged in 2025-06, with the labels that each got.

#342 [HW5] Pieczywok Jan
  homeworks/hw5/PieczywokJan/eksperyment.Rmd
  homeworks/hw5/PieczywokJan/eksperyment.html
Labels: HW5

#322 [HW5] Harbaty Maria
  homeworks/hw5/HarbatyMaria/PD_5.R
  homeworks/hw5/PD_raport-2.pdf
Labels: fixes needed 🛠️, HW5

#344 [HW5] Wojtysiak-Kotlarska Maja
  homeworks/hw5/WojtysiakKotlarskaMaja/raport_wykresy_badanie_aktualny.html
Labels: fixes needed 🛠️, HW5

#356 [HW6] Kania Przemysław
  homeworks/hw6/KaniaPrzemysław/hw6.ipynb
Labels: HW6

#358 [HW6] Strzechowska Oliwia
  homeworks/hw6/Strzechowska Oliwia/[HW6] Strzechowska Oliwia.ipynb
Labels: HW6

#361 [HW6] Iwaniuk Aleksandra
  homeworks/hw6/IwaniukAleksandra/PD_6.ipynb
Labels: HW6

#362 [HW6] Adamczuk Maciej
  homeworks/hw6/AdamczukMaciej/Maciej_Adamczuk_HW6.ipynb
Labels: HW6

#365 [HW6] Baranczyk Maciej
  homeworks/hw6/BaranczykMaciej/pd6.ipynb
Labels: HW6

#369 [HW6] Kalis Krystian
  homeworks/hw6/KalisKrystian/Pd6.ipynb
Labels: HW6

#370 [HW6] Migasiuk Maciej
  homeworks/hw6/MigasiukMaciej/hw6.ipynb
Labels: HW6

#371 [HW6] Talalaj Michal
  homeworks/hw6/TalalajMichal/pd6.ipynb
Labels: HW6

#372 [HW6] Zawadzki Daniel
  homeworks/hw6/ZawadzkiDaniel/PracaDomowa6.ipynb
Labels: HW6

#373 [HW6] Twarowski Kamil
  homeworks/hw6/TwarowskiKamil/HW6.ipynb
Labels: HW6

#375 [HW6] Brzosko Maria
  homeworks/hw6/BrzoskoMaria/kodzik.ipynb
Labels: HW6

#377 [HW6] Kosiarski Piotr
  homeworks/hw6/KosiarskiPiotr/PD6.ipynb
Labels: HW6

#378 [HW6] Pieczywok Jan
  homeworks/hw6/PieczywokJan/hw6 eda.ipynb
Labels: HW6

#379 [HW6] Chmiel Wiktor
  homeworks/hw6/ChmielWiktor/praca_domowa_6.ipynb
Labels: HW6

#381 [HW6] Grodzka Wiktoria
  homeworks/hw6/GrodzkaWiktoria/hw6.ipynb
Labels: HW6

#382 [HW6] Mankowski Gerard
  homeworks/hw6/MankowskiGerard/praca domowa 6.ipynb
Labels: HW6

#383 [HW6] Mocarski Kacper
  homeworks/hw6/MocarskiKacper/HW6.ipynb
Labels: HW6

#384 [HW6] Kachniewska Olga
  homeworks/hw6/KachniewskaOlga/HW6_Kachniewska.ipynb
Labels: HW6

#385 [HW6] Harbaty Maria
  homeworks/hw6/HarbatyMaria/PD_06.ipynb
Labels: HW6

#386 [HW6] Junosza-Szaniawska Ewa
  homeworks/hw6/Junosza-SzaniawskaEwa/pd6.ipynb
Labels: HW6, Late ⏰

#387 [HW6] Pawel Mozaryn
  homeworks/hw6/MozarynPawel/pracadomowa6.ipynb
Labels: HW6, Late ⏰

#389 [HW6]Keska Agnieszka
  homeworks/hw6/KeskaAgnieszka/keska_agnieszka_pd6.ipynb
Labels: HW6, Late ⏰

#391 [projekt2]Olech_Rogalska_Keska
  projects/project2/Olech_Rogalska_Keska/app_szachy.r
Labels: P2

#392 [projekt2] Migasiuk_Tomusiak_Mocarski
  projects/project2/Migasiuk_Tomusiak_Mocarski/Kody/finalPolskaGurom.R
  projects/project2/Migasiuk_Tomusiak_Mocarski/README/1.png
  projects/project2/Migasiuk_Tomusiak_Mocarski/README/2.png
  projects/project2/Migasiuk_Tomusiak_Mocarski/README/3.png
  projects/project2/Migasiuk_Tomusiak_Mocarski/README/4.png
  projects/project2/Migasiuk_Tomusiak_Mocarski/README/5.png
  projects/project2/Migasiuk_Tomusiak_Mocarski/README/README.md
Labels: P2

#397 [projekt2] Kachniewska_Pinkowska_Woznica
  projects/project2/Kachniewska_Pinkowska_Woznica/Kody/all_cause.csv
  projects/project2/Kachniewska_Pinkowska_Woznica/Kody/app.R
  projects/project2/Kachniewska_Pinkowska_Woznica/Kody/coffee-bean-production.csv
  projects/project2/Kachniewska_Pinkowska_Woznica/Kody/worldwide_coffee_habits.csv
  projects/project2/Kachniewska_Pinkowska_Woznica/Kody/www/coffee_type1.jpg
  projects/project2/Kachniewska_Pinkowska_Woznica/Kody/www/coffee_type2.jpg
  projects/project2/Kachniewska_Pinkowska_Woznica/Kody/www/coffee_type3.jpg
  projects/project2/Kachniewska_Pinkowska_Woznica/Kody/www/coffee_type4.jpg
  projects/project2/Kachniewska_Pinkowska_Woznica/Kody/www/coffee_type5.jpg
  projects/project2/Kachniewska_Pinkowska_Woznica/Kody/www/kofeina.jpg
  projects/project2/Kachniewska_Pinkowska_Woznica/Kody/www/mapa.jpg
  projects/project2/Kachniewska_Pinkowska_Woznica/Kody/www/plant.jpg
  projects/project2/Kachniewska_Pinkowska_Woznica/Kody/www/trendy.JPG
  projects/project2/Kachniewska_Pinkowska_Woznica/README.Rmd
  projects/project2/Kachniewska_Pinkowska_Woznica/sc1.png
  projects/project2/Kachniewska_Pinkowska_Woznica/sc2.png
  projects/project2/Kachniewska_Pinkowska_Woznica/sc3.png
  projects/project2/Kachniewska_Pinkowska_Woznica/sc4.png
Labels: P2

#399 [projekt2] Jankowska_Mankowski_Kalis
  projects/project2/Jankowska_Mankowski_Kalis/1.png
  projects/project2/Jankowska_Mankowski_Kalis/2.png
  projects/project2/Jankowska_Mankowski_Kalis/3.png
  projects/project2/Jankowska_Mankowski_Kalis/4.png
  projects/project2/Jankowska_Mankowski_Kalis/5.png
  projects/project2/Jankowska_Mankowski_Kalis/README.md
  projects/project2/Jankowska_Mankowski_Kalis/app.r
  projects/project2/Jankowska_Mankowski_Kalis/setlist.csv
  projects/project2/Jankowska_Mankowski_Kalis/ts_df.csv
Labels: P2

#403 [projekt2] Brzosko_Grzegory_Baranczyk
  projects/project2/Brzosko_Grzegory_Baranczyk/Kody/raport_końcowy_finished.r
  projects/project2/Brzosko_Grzegory_Baranczyk/README.md
  projects/project2/Brzosko_Grzegory_Baranczyk/images/str1.png
  projects/project2/Brzosko_Grzegory_Baranczyk/images/str2.png
  projects/project2/Brzosko_Grzegory_Baranczyk/images/str3.png
Labels: P2

#407 [projekt2] Grodzka_Łabuś_Strzechowska
  projects/project2/Grodzka_Łabuś_Strzechowska/Kody/projekt.r
  projects/project2/Grodzka_Łabuś_Strzechowska/projekt.Rmd
  projects/project2/Grodzka_Łabuś_Strzechowska/zrzuty_ekranu/Zrzut ekranu 2025-06-10 o 23.42.01.png
  projects/project2/Grodzka_Łabuś_Strzechowska/zrzuty_ekranu/Zrzut ekranu 2025-06-10 o 23.42.14.png
  projects/project2/Grodzka_Łabuś_Strzechowska/zrzuty_ekranu/Zrzut ekranu 2025-06-10 o 23.42.27.png
Labels: P2

#410 [projekt2] wilk_tywonek_zawadzki
  projects/project2/Wilk_Zawadzki_Tywonek/README.md
  projects/project2/Wilk_Zawadzki_Tywonek/app.R
  projects/project2/Wilk_Zawadzki_Tywonek/screeny/screen1.png
  projects/project2/Wilk_Zawadzki_Tywonek/screeny/screen2.png
  projects/project2/Wilk_Zawadzki_Tywonek/screeny/screen3.png
  projects/project2/Wilk_Zawadzki_Tywonek/screeny/screen4.png
  projects/project2/Wilk_Zawadzki_Tywonek/screeny/screen5.png
  projects/project2/Wilk_Zawadzki_Tywonek/screeny/screen6.png
  projects/project2/Wilk_Zawadzki_Tywonek/wczytywanie danych.R
Labels: P2
