Repository kozaka93/2025L-ExploratoryDataAnalysis, pull requests merged in 2025-04, with the labels that each got.

#173 [HW3]DudaMichalina
  homeworks/hw3/DudaMichalina/PD3.R
  homeworks/hw3/DudaMichalina/Rplot07.png
Labels: HW3

#174 [HW3] Mankowski Gerard
  homeworks/hw3/MankowskiGerard/children-per-woman-un.csv
  homeworks/hw3/MankowskiGerard/pracadomowa3.R
  homeworks/hw3/MankowskiGerard/wykres_urodzen_Afryka.pdf
Labels: HW3

#175 [HW3] Brzosko Maria
  homeworks/hw3/BrzoskoMaria/e-coli.xlsx
  homeworks/hw3/BrzoskoMaria/kodzik.R
  homeworks/hw3/BrzoskoMaria/mapka.pdf
Labels: HW3

#178 [HW3] Stefanczyk Pawel
  homeworks/hw3/StefanczykPawel/hw3.R
  homeworks/hw3/StefanczykPawel/mapa_europy.pdf
  homeworks/hw3/StefanczykPawel/road_eqs_carhab$defaultview_page_spreadsheet.xlsx
Labels: HW3

#179 [HW3] Grzegory Michal
  homeworks/hw3/GrzegoryMichal/HW3 Michal Grzegory.R
  homeworks/hw3/GrzegoryMichal/crimes_1979_2019.csv
  homeworks/hw3/GrzegoryMichal/hw3_wykres.pdf
Labels: HW3

#180 [HW3] Kowalczyk Filip
  homeworks/hw3/KowalczykFilip/Rplot.pdf
  homeworks/hw3/KowalczykFilip/hw3.R
Labels: HW3

#183 [HW3] Jankowska Barbara
  homeworks/hw3/JankowskaBarbara/mapa.R
  homeworks/hw3/JankowskaBarbara/mapa.png
Labels: HW3

#184 [HW3] Kania Przemysław
  homeworks/hw3/KaniaPrzemyslaw/fatalities.csv
  homeworks/hw3/KaniaPrzemyslaw/fatalities.pdf
  homeworks/hw3/KaniaPrzemyslaw/hw3.R
Labels: HW3

#182 [HW3] Peret Agnieszka
  homeworks/hw3/PeretAgnieszka/Mrówki_mapa.png
  homeworks/hw3/PeretAgnieszka/PD3.R
Labels: HW3

#185 [HW3] Mazur Anna
  homeworks/hw3/MazurAnna/Rplot01.pdf
  homeworks/hw3/MazurAnna/life_exp.csv
  homeworks/hw3/MazurAnna/pd3AM.R
Labels: HW3

#186 [HW3] Harbaty Maria
  homeworks/hw3/HarbatyMaria/hw3.R
  homeworks/hw3/HarbatyMaria/thriving_in_life.png
Labels: HW3

#189 [HW3] Gralak Karolina
  homeworks/hw3/GralakKarolina/hw3.R
  homeworks/hw3/GralakKarolina/hw3.png
Labels: HW3

#191 [HW3] Twarowski Kamil
  homeworks/hw3/TwarowskiKamil/EmisjaCO2percapita.R
  homeworks/hw3/TwarowskiKamil/EmisjaCO2percapita.pdf
Labels: HW3

#192 [HW3] Adamczuk Maciej
  homeworks/hw3/AdamczukMaciej/Rplot06.pdf
  homeworks/hw3/AdamczukMaciej/dane.csv
  homeworks/hw3/AdamczukMaciej/hw3.R
Labels: HW3

#193 [HW3] Kachniewska Olga
  homeworks/hw3/KachniewskaOlga/PD3_Kachniewska_Olga.R
  homeworks/hw3/KachniewskaOlga/PD3_mapa_kawy_2020.html
Labels: HW3

#194 [HW3] Chmiel Wiktor
  homeworks/hw3/ChmielWiktor/Rplot.png
  homeworks/hw3/ChmielWiktor/Wiktor_chmiel_praca_domowa_3.R
Labels: HW3

#195 [HW3] Lambert Mateusz
  homeworks/hw3/LambertMateusz/kod.R
  homeworks/hw3/LambertMateusz/mapka.pdf
  homeworks/hw3/LambertMateusz/world-happiness-report-2021.csv
Labels: HW3

#200 [HW3] Galinski Filip
  homeworks/hw3/GalinskiFilip/TworzenieWykresow3.R
  homeworks/hw3/GalinskiFilip/Wykresy3.pdf
  homeworks/hw3/GalinskiFilip/water_pollution_disease.csv
Labels: HW3

#202 [HW3] Bujnowski Mateusz
  homeworks/hw3/BujnowskiMateusz/estat_prc_rem_cs.tsv.gz
  homeworks/hw3/BujnowskiMateusz/mapa.R
  homeworks/hw3/BujnowskiMateusz/mapa.png
Labels: HW3

#203 [HW3] Niedzielewski Maciej
  homeworks/hw3/NiedzielewskiMaciej/hw3.R
  homeworks/hw3/NiedzielewskiMaciej/mapa.png
Labels: HW3

#205 [HW3] Iwaniuk Aleksandra
  homeworks/hw3/IwaniukAleksandra/HW03.R
  homeworks/hw3/IwaniukAleksandra/Rplot.png
Labels: HW3

#206 [HW3] Wilk Dominik
  homeworks/hw3/WilkDominik/2019.csv
  homeworks/hw3/WilkDominik/HW3.R
  homeworks/hw3/WilkDominik/mapa_szczescie_obywateli.png
Labels: HW3

#207 [HW3] Kalis Krystian
  homeworks/hw3/KalisKrystian/Pd3.R
  homeworks/hw3/KalisKrystian/Wykres.pdf
  homeworks/hw3/KalisKrystian/data.csv
Labels: HW3

#209 [HW3] Małaśnicka Julia
  homeworks/hw3/MalasnickaJulia/hw3.R
  homeworks/hw3/MalasnickaJulia/mapa_mleko.png
Labels: HW3

#210 [HW3] Grodzka Wiktoria
  homeworks/hw3/GrodzkaWiktoria/hw3.R
  homeworks/hw3/GrodzkaWiktoria/hw3.png
Labels: HW3

#212 [HW3] Keska Agnieszka
  homeworks/hw3/KeskaAgnieszka/state_crime.csv
  homeworks/hw3/KeskaAgnieszka/usa_p.png
  homeworks/hw3/KeskaAgnieszka/usa_przestepczosc.R
Labels: HW3

#213 [HW3] Mocarski Kacper
  homeworks/hw3/MocarskiKacper/hw3.R
  homeworks/hw3/MocarskiKacper/mapa_emisji_CO2.png
Labels: HW3

#214 [HW3] Wrobel Kacper
  homeworks/hw3/WrobelKacper/Kacper-Wrobel-WDEP-PD3.R
  homeworks/hw3/WrobelKacper/WDEP-PD3-wykres.png
  homeworks/hw3/WrobelKacper/tps00198_page_spreadsheet.xlsx
Labels: HW3

#215 [HW3] Baranczyk Maciej
  homeworks/hw3/BaranczykMaciej/API_SP.DYN.TFRT.IN_DS2_EN_csv_v2_26557.csv
  homeworks/hw3/BaranczykMaciej/hw3.R
  homeworks/hw3/BaranczykMaciej/hw3_mapa.pdf
Labels: HW3

#216 [HW3] Woznica Michalina
  homeworks/hw3/WoznicaMichalina/PD3.R
  homeworks/hw3/WoznicaMichalina/Rplot2.jpeg
  homeworks/hw3/WoznicaMichalina/rplot.jpeg
Labels: HW3

#217 [HW3] Pinkowska Julia
  homeworks/hw3/PinkowskaJulia/Mapa1.R
  homeworks/hw3/PinkowskaJulia/Wypadki_drogowe.csv
  homeworks/hw3/PinkowskaJulia/mapa_wypadkow_drogowych.html
Labels: HW3

#218 [HW3] Zawadzki Daniel
  homeworks/hw3/ZawadzkiDaniel/Owce.png
  homeworks/hw3/ZawadzkiDaniel/domowa3.R
Labels: HW3

#220 [HW3] Tywonek Jakub
  homeworks/hw3/TywonekJakub/ACSDP5Y2021.DP05-2025-04-07T105344.csv
  homeworks/hw3/TywonekJakub/main.R
  homeworks/hw3/TywonekJakub/mapa.png
Labels: HW3

#221 [HW3] Pasnikowski Mikolaj
  homeworks/hw3/PasnikowskiMikolaj/pasnikowskim_alkomapka2.png
  homeworks/hw3/PasnikowskiMikolaj/pasnikowskim_hw3.R
Labels: HW3

#222 [HW3] Michalak Krzysztof
  homeworks/hw3/MichalakKrzysztof/API_NY.GDP.PCAP.CD_DS2_en_csv_v2_26433.csv
  homeworks/hw3/MichalakKrzysztof/MichalakKrzysztofPD3.R
Labels: HW3

#225 [HW3] Pawlak Stanislaw
  homeworks/hw3/PawlakStanislaw/env_air_gge$defaultview_page_spreadsheet.xlsx
  homeworks/hw3/PawlakStanislaw/mapa.png
  homeworks/hw3/PawlakStanislaw/pracadom3.R
Labels: fixes needed 🛠️, HW3

#226 [hw3] Pieczywok Jan
  homeworks/hw3/PieczywokJan/Rplot01.png
  homeworks/hw3/PieczywokJan/hm3.R
  homeworks/hw3/PieczywokJan/share-of-population-urban.csv
Labels: HW3

#227 [HW3] Utkowski Piotr
  homeworks/hw3/UtkowskiPiotr/hw3.R
  homeworks/hw3/UtkowskiPiotr/mapka_interaktywna.html
Labels: HW3

#229 [hw3] Eberhardt Maria
  homeworks/hw3/EberhardtMaria/MAPA PD3.png
  homeworks/hw3/EberhardtMaria/PD3 EKSPLORACJA.R
Labels: HW3

#231 [HW 3] Kosiarski Piotr
  homeworks/hw3/KosiarskiPiotr/Mapa.png
  homeworks/hw3/KosiarskiPiotr/[HW3] Kosiarski Piotr.R
  homeworks/hw3/KosiarskiPiotr/info.xlsx
Labels: HW3

#232 [HW3] Możaryn Paweł
  homeworks/hw3/MozarynPawel/pd3_explo_mozaryn.R
  homeworks/hw3/MozarynPawel/pd3_mapa_explo.pdf
Labels: HW3, Late ⏰

#233 [HW3] Wojtysiak-Kotlarska Maja
  homeworks/hw3/MajaWojtysiakKotlarska/MajaWojtysiakKotlarska.Rproj
  homeworks/hw3/MajaWojtysiakKotlarska/mapa_swiat_alkohol_2018.png
  homeworks/hw3/MajaWojtysiakKotlarska/total-alcohol-consumption-per-capita-litres-of-pure- ahcool new.csv
  homeworks/hw3/MajaWojtysiakKotlarska/wykresik.R
Labels: HW3, Late ⏰

#235 [HW3] Rogalska Roksana
  homeworks/hw3/RogalskaRoksana/Mapy.jpeg
  homeworks/hw3/RogalskaRoksana/covid2.csv
  homeworks/hw3/RogalskaRoksana/pd3.R
  homeworks/hw3/RogalskaRoksana/world_population.csv
Labels: HW3

#241 [projekt1] wilk_wisniewski_pasnikowski
  projects/project1/wilk_wisniewski_pasnikowski/README.md
  projects/project1/wilk_wisniewski_pasnikowski/kody/mapa.R
  projects/project1/wilk_wisniewski_pasnikowski/kody/mis_swiata_ostateczne.R
  projects/project1/wilk_wisniewski_pasnikowski/wilk_wisniewski_pasnikowski.pdf
  projects/project1/wilk_wisniewski_pasnikowski/wilk_wisniewski_pasnikowski.png
Labels: P1

#242 [projekt1] Lewicki, Pieczywok, Zawadzki
  projects/project1/Lewicki_Pieczywok_Zawadzki/README.md
  projects/project1/Lewicki_Pieczywok_Zawadzki/kod/api.R
  projects/project1/Lewicki_Pieczywok_Zawadzki/kod/heatmaps.ipynb
  projects/project1/Lewicki_Pieczywok_Zawadzki/plakat.png
Labels: P1

#243 [projekt1] Mazur_Rogalska_Woźnica
  projects/project1/Mazur_Rogalska_Woznica/README.md
  projects/project1/Mazur_Rogalska_Woznica/kody/alkohol.csv
  projects/project1/Mazur_Rogalska_Woznica/kody/ogolne.csv
  projects/project1/Mazur_Rogalska_Woznica/kody/okoliczność wypadku.csv
  projects/project1/Mazur_Rogalska_Woznica/kody/rodzaj-zbiornika-wodnego.csv
  projects/project1/Mazur_Rogalska_Woznica/kody/wiek.csv
  projects/project1/Mazur_Rogalska_Woznica/kody/wykresy.R
  projects/project1/Mazur_Rogalska_Woznica/plakat-.pdf
  projects/project1/Mazur_Rogalska_Woznica/plakat.pdf
  projects/project1/Mazur_Rogalska_Woznica/plakat.png
Labels: P1

#256 [Projekt1] Kaliś_Gralak_Chmiel
  projects/project1/Kaliś_Gralak_Chmiel/Kody/Kaliś_Gralak_Chmiel.pdf
  projects/project1/Kaliś_Gralak_Chmiel/Kody/projekt (3).r
  projects/project1/Kaliś_Gralak_Chmiel/README.md
Labels: P1

#255 Grodzka_Grzegory_Harbaty
  projects/project1/Grodzka_Grzegory_Harbaty/Mieszkanie dla studenciaka MiNI.pdf
  projects/project1/Grodzka_Grzegory_Harbaty/Mieszkanie dla studenciaka MiNI.png
  projects/project1/Grodzka_Grzegory_Harbaty/kody/Houses.csv
  projects/project1/Grodzka_Grzegory_Harbaty/kody/kod1.R
  projects/project1/Grodzka_Grzegory_Harbaty/kody/kod2.R
  projects/project1/Grodzka_Grzegory_Harbaty/kody/kod3.r
  projects/project1/Grodzka_Grzegory_Harbaty/kody/warszawa-dzielnice.geojson
Labels: P1

#253 [Projekt1]Kowalczyk_Galinski_Pawlak
  projects/project1/kowalczyk_galinski_pawlak/EKSTRAKLASA.png
  projects/project1/kowalczyk_galinski_pawlak/README.md
  projects/project1/kowalczyk_galinski_pawlak/kody/projekt1.R
Labels: P1

#250 [Projekt 1] Pińkowska_Małaśnicka_Strzechowska
  projects/project1/Pinkowska_Malasnicka_Strzechowska/Gdzie-lecimy-3.pdf
  projects/project1/Pinkowska_Malasnicka_Strzechowska/README.md
  projects/project1/Pinkowska_Malasnicka_Strzechowska/kody/wykres-eksportimport.r
  projects/project1/Pinkowska_Malasnicka_Strzechowska/kody/wykres_cena_jaj.R
  projects/project1/Pinkowska_Malasnicka_Strzechowska/kody/wykres_kat_wagowe.r
Labels: P1

#245 [Projekt1] Tomusiak_Twarowski_Niedzielewski
  projects/project1/tomusiak_twarowski_niedzielewski/Kody/Web Scraping/PART1_Main_Data/1_funkcja1.py
  projects/project1/tomusiak_twarowski_niedzielewski/Kody/Web Scraping/PART1_Main_Data/2_html_raw.py
  projects/project1/tomusiak_twarowski_niedzielewski/Kody/Web Scraping/PART1_Main_Data/3_try_fun.py
  projects/project1/tomusiak_twarowski_niedzielewski/Kody/Web Scraping/PART1_Main_Data/5_dataset_filmweb.py
  projects/project1/tomusiak_twarowski_niedzielewski/Kody/Web Scraping/PART1_Main_Data/__pycache__/dataf.cpython-312.pyc
  projects/project1/tomusiak_twarowski_niedzielewski/Kody/Web Scraping/PART1_Main_Data/dataf.py
  projects/project1/tomusiak_twarowski_niedzielewski/Kody/Web Scraping/PART2_Genres_extra_data/genres_filmweb.py
  projects/project1/tomusiak_twarowski_niedzielewski/Kody/Web Scraping/PART3_Box_office/Box_office_mojo.py
  projects/project1/tomusiak_twarowski_niedzielewski/Kody/kod_projekt_filmweb.R
  projects/project1/tomusiak_twarowski_niedzielewski/README.md
  projects/project1/tomusiak_twarowski_niedzielewski/Tomusiak_Niedzielewski_Twarowski-1.png
  projects/project1/tomusiak_twarowski_niedzielewski/Tomusiak_Niedzielewski_Twarowski.pdf
Labels: P1
