Repository kozaka93/2025L-ExploratoryDataAnalysis, pull requests merged in 2025-03, with the labels that each got.

#19 [HW0] Jakub Tywonek
  homeworks/hw0/TywonekJakub/abc.R
Labels: HW0

#23 [HWO] Maciej Barańczyk
  homeworks/hw0/BaranczykMaciej/proton.R
Labels: HW0

#24 [HW0] Mateusz Bujnowski
  homeworks/hw0/BujnowskiMateusz/proton.R
Labels: HW0

#27 [HW0] Oliwia Strzechowska
  homeworks/hw0/StrzechowskaOliwia/proton.R
Labels: HW0

#26 [HW0] Grodzka Wiktoria
  homeworks/hw0/GrodzkaWiktoria/proton1.R
Labels: HW0

#43 [HW0] Michalina Duda
  homeworks/hw0/DudaMichalina/pronton.R
Labels: HW0

#41 [hw0] UtkowskiPiotr
  homeworks/hw0/UtkowskiPiotr/proton.R
Labels: HW0

#40 [HW0] Wisniewski Jan
  homeworks/hw0/WisniewskiJan/proton.R
Labels: HW0

#39 [HW0] Wrobel Kacper
  homeworks/hw0/WrobelKacper/proton-rozw.R
Labels: HW0

#37 [HW0] Maciej Adamczuk
  homeworks/hw0/MaciejAdamczuk/proton.R
Labels: HW0

#36 [HW0]MaciejNiedzielewski
  homeworks/hw0/NiedzielewskiMaciej/proton.R
Labels: HW0

#34 [HW0] MigasiukMaciej
  homeworks/hw0/MigasiukMaciej/proton.R
Labels: HW0

#32 [HW0] Mankowski Gerard
  homeworks/hw0/MankowskiGerard/proton.R
Labels: HW0

#31 [HW0] Roksana Rogalska
  homeworks/hw0/RogalskaRoksana/proton.R
Labels: HW0

#30 [hw0] karolina gralak
  homeworks/GralakKarolina/proton.R
Labels: HW0

#29 [HW0] Julia Pińkowska
  homeworks/hw0/PinkowskaJulia/proton.R
Labels: HW0

#28 [hw0 maria eberhardt]
  homeworks/hw0/EberhardtMaria/proton.R
Labels: HW0

#33 [HW0] Michal Talalaj
  homeworks/hw0/TalalajMichal/gra_proton.R
Labels: HW0

#25 [HW0] Grzegory Michal
  homeworks/hw0/GrzegoryMichal/proton - Copy.R
Labels: HW0

#45 [HW0] Olech Emilia
  homeworks/hw0/OlechEmilia/proton.R
Labels: HW0

#2 [HW0] LambertMateusz
  homeworks/hw0/LambertMateusz/proton.R
Labels: HW0

#46 [HW1]DudaMichalina
  homeworks/hw1/DudaMichalina/hw1.R
Labels: HW1

#47 [ HW1 ] Zawadzki Daniel
  homeworks/hw1/ZawadzkiDaniel/domowa1.R
Labels: HW1

#52 [HW1] Peret Agnieszka
  homeworks/hw1/PeretAgnieszka/hw1.R
Labels: HW1

#53 [HW1] Lewicki Kacper
  homeworks/hw1/LewickiKacper/hw1.r
Labels: HW1

#54 [HW1] Twarowski Kamil
  homeworks/hw1/TwarowskiKamil/PD1.R
Labels: HW1

#55 [HW1] Wrobel Kacper
  homeworks/hw1/WrobelKacper/Kacper-Wrobel-WDEP-PD1.R
  homeworks/hw1/WrobelKacper/data.csv
Labels: HW1

#56 [HW1]StefanczykPawel
  homeworks/hw1/StefanczykPawel/data.csv
  homeworks/hw1/StefanczykPawel/hw1.R
Labels: HW1

#57 [HW1] Kowalczyk Filip
  homeworks/hw1/KowalczykFilip/hw1.R
Labels: HW1

#58 [HW1] LambertMateusz
  homeworks/hw1/LambertMateusz/data.csv
  homeworks/hw1/LambertMateusz/hw1.R
Labels: HW1

#60 [HW1] GrodzkaWiktoria
  homeworks/hw1/GrodzkaWiktoria/hw1.R
Labels: HW1

#61 [HW1] Michalina Woznica
  homeworks/hw1/WoznicaMichalina/MichalinaWoznicaPD1.R
  homeworks/hw1/WoznicaMichalina/data.csv
Labels: HW1

#62 [HW1] Iwaniuk Aleksandra
  homeworks/hw1/IwaniukAleksandra/hw1.R
Labels: HW1

#63 [HW1] Mocarski Kacper
  homeworks/hw1/MocarskiKacper/data.csv
  homeworks/hw1/MocarskiKacper/hw1.R
Labels: HW1

#64 [Hw1]MichalakKrzysztof
  homeworks/hw1/MichalakKrzysztof/Krzysztof Michalak.R
Labels: HW1

#65 [HW1] Rogalska Roksana
  homeworks/hw1/RogalskaRoksana/README.md
  homeworks/hw1/RogalskaRoksana/data.csv
  homeworks/hw1/RogalskaRoksana/hw1.R
Labels: HW1

#67 [HW1] Mankowski Gerard
  homeworks/hw1/MankowskiGerard/hw1_GerardMankowski.R
Labels: HW1

#78 [HW1] Adamczuk Maciej
  homeworks/hw1/AdamczukMaciej/hw1_Maciej_Adamczuk.R
Labels: HW1

#79 [HW1] Jankowska Barbara
  homeworks/hw1/JankowskaBarbrara/data.csv
  homeworks/hw1/JankowskaBarbrara/hw1.R
Labels: HW1

#80 [HW1] Brzosko Maria
  homeworks/hw1/BrzoskoMaria/data.csv
  homeworks/hw1/BrzoskoMaria/hw1.R
Labels: HW1

#81 [HW1] Galiński Filip
  homeworks/hw1/GalinskiFilip/hw1.R
Labels: HW1

#82 [HW1] Baranczyk Maciej
  homeworks/hw1/BaranczykMaciej/data.csv
  homeworks/hw1/BaranczykMaciej/hw1.R
Labels: HW1

#83 [HW1] Bujnowski Mateusz
  homeworks/hw1/BujnowskiMateusz/hw1 - BujnowskiMateusz.R
Labels: HW1

#84 [HW1] Kania Przemyslaw
  homeworks/hw1/KaniaPrzemyslaw/hw1.R
Labels: HW1

#85 [HW 1] Wisniewski Jan
  homeworks/hw1/WisniewskiJan/data.csv
  homeworks/hw1/WisniewskiJan/hw1.R
Labels: HW1

#86 [HW1] Grzegory Michał
  homeworks/hw1/GrzegoryMichal/hw1.R
Labels: HW1

#87 [HW1] Harbaty Maria
  homeworks/hw1/HarbatyMaria/hw1.R
Labels: HW1

#89 [HW1] Gralak Karolina
  homeworks/hw1/GralakKarolina/GralakKarolinaHW1.R
Labels: HW1

#90 [HW1] Mozaryn Pawel
  homeworks/hw1/MozarynPawel/lab2_praca_domowa copy.R
Labels: HW1

#91 [HW1] Kosiarski Piotr
  homeworks/hw1/KosiarskiPiotr/[HW1] Kosiarski Piotr.R
Labels: HW1

#93 [hw1]Eberhardt Maria
  homeworks/hw1/EberhardtMaria/data.csv
  homeworks/hw1/EberhardtMaria/pd1.R
Labels: HW1

#94 [HW1] Tywonek Jakub
  homeworks/hw1/TywonekJakub/data.csv
  homeworks/hw1/TywonekJakub/hw1.R
Labels: HW1

#95 [HW1] Tomusiak Bruno
  homeworks/hw1/TomusiakBruno/TomusiakBruno.R
Labels: HW1

#98 [HM1] Wilk Dominik
  homeworks/hw1/WilkDominik/hw1.R
Labels: HW1

#99 [HW1] Ewa Junosza-Szaniawska
  homeworks/hw1/JunoszaSzaniawskaEwa/hw1.R
Labels: HW1

#100 [HW1] Pinkowska Julia
  homeworks/hw1/PinkowskaJulia/PinkowskaJulia.R
Labels: HW1

#101 [HW1] Pieczywok Jan
  homeworks/hw1/PieczywokJan/hw1.R
Labels: HW1

#102 [HW1] Strzechowska Oliwia
  homeworks/hw1/StrzechowskaOliwia/[HW1] Oliwia Strzechowska.R
Labels: HW1

#103 [HW1] Talalaj Michal
  homeworks/hw1/TalalajMichal/Michał_Tałałaj_pd1.R
  homeworks/hw1/TalalajMichal/data.csv
Labels: HW1

#108 [HW1] Mazur Anna
  homeworks/hw1/MazurAnna/MazurAnnaHW1.R
Labels: HW1

#109 [HW1] Maja Wojtysiak-Kotlarska
  homeworks/hw1/WojtysiakMaja/hw1.R
Labels: HW1

#110 [HW1] Utkowski Piotr
  homeworks/hw1/UtkowskiPiotr/hw1.R
Labels: HW1

#111 [HW1] Keska Agnieszka
  homeworks/hw1/KeskaAgnieszka/hw1.r
Labels: HW1

#112 [HW1] Julia Małaśnicka
  homeworks/hw1/MalasnickaJulia/hw1.R
Labels: HW1

#116 [HW2]DudaMichalina
  homeworks/hw2/DudaMichalina/homework02.Rmd
  homeworks/hw2/DudaMichalina/homework02.html
Labels: HW2

#118 [HW2] Lewicki Kacper
  homeworks/hw2/LewickiKacper/hw2.Rmd
  homeworks/hw2/LewickiKacper/hw2.html
Labels: HW2

#119 [HW2] Peret Agnieszka
  homeworks/hw2/PeretAgnieszka/homework02.Rmd
  homeworks/hw2/PeretAgnieszka/homework02.html
Labels: HW2

#120 [HW2]GrzegoryMichal
  homeworks/hw2/GrzegoryMichal/homework02.Rmd
  homeworks/hw2/GrzegoryMichal/homework02.html
Labels: HW2

#121 [HW2]StefanczykPawel
  homeworks/hw2/StefanczykPawel/dane.csv
  homeworks/hw2/StefanczykPawel/homework02.Rmd
  homeworks/hw2/StefanczykPawel/homework02.html
Labels: HW2

#123 [HW2] Kowalczyk Filip
  homeworks/hw2/KowalczykFilip/homework02.Rmd
  homeworks/hw2/KowalczykFilip/homework02.html
Labels: HW2

#124 [HW2] Zawadzki Daniel
  homeworks/hw2/ZawadzkiDaniel/homework02.Rmd
  homeworks/hw2/ZawadzkiDaniel/homework02.html
Labels: HW2

#125 [HW2] Kania Przemysław
  homeworks/hw2/KaniaPrzemyslaw/hw2.Rmd
  homeworks/hw2/KaniaPrzemyslaw/hw2.html
Labels: HW2

#126 [HW2] Adamczuk Maciej
  homeworks/hw2/AdamczukMaciej/homework02.Rmd
  homeworks/hw2/AdamczukMaciej/homework02.html
Labels: HW2

#127 [HW2] Iwaniuk Aleksandra
  homeworks/hw2/IwaniukAleksandra/homework02.Rmd
  homeworks/hw2/IwaniukAleksandra/homework02.html
Labels: HW2

#128 [HW2] Kosiarski Piotr
  homeworks/hw2/KosiarskiPiotr/[HW2] Kosiarski Piotr.Rmd
  homeworks/hw2/KosiarskiPiotr/[HW2]-Kosiarski-Piotr.html
Labels: HW2

#129 [HW2] Michalina Woźnica
  homeworks/hw2/WoznicaMichalina/dane.csv
  homeworks/hw2/WoznicaMichalina/homework02.Rmd
  homeworks/hw2/WoznicaMichalina/homework02.html
Labels: HW2

#130 [HW2] Grodzka Wiktoria
  homeworks/hw2/GrodzkaWiktoria/dane-2.csv
  homeworks/hw2/GrodzkaWiktoria/hw2.Rmd
  homeworks/hw2/GrodzkaWiktoria/hw2.html
Labels: HW2

#131 [HW2] Baranczyk Maciej
  homeworks/hw2/BaranczykMaciej/homework02.Rmd
  homeworks/hw2/BaranczykMaciej/homework02.html
Labels: HW2

#133 [HW2] Mateusz Lambert
  homeworks/hw2/LambertMateusz/homework02.Rmd
  homeworks/hw2/LambertMateusz/homework02.html
Labels: HW2

#134 [HW2] Wrobel Kacper
  homeworks/hw2/WrobelKacper/homework02.Rmd
  homeworks/hw2/WrobelKacper/homework02.html
Labels: HW2

#135 [HW2] Jankowska Barbara
  homeworks/hw2/JankowskaBarbara/hw2.Rmd
  homeworks/hw2/JankowskaBarbara/hw2.html
Labels: HW2

#136 [HW2] Brzosko Maria
  homeworks/hw2/BrzoskoMaria/dane.csv
  homeworks/hw2/BrzoskoMaria/homework02_html.html
  homeworks/hw2/BrzoskoMaria/homework02_r.Rmd
Labels: HW2

#137 [HW2] Bujnowski Mateusz
  homeworks/hw2/BujnowskiMateusz/hw2 - BujnowskiMateusz.Rmd
  homeworks/hw2/BujnowskiMateusz/hw2---BujnowskiMateusz.html
Labels: HW2

#138 [HW2] Harbaty Maria
  homeworks/hw2/HarbatyMaria/homework2.Rmd
  homeworks/hw2/HarbatyMaria/homework2.html
Labels: HW2

#139 [HW2] Galiński Filip
  homeworks/hw2/GalinskiFilip/hw2FilipGalinski.Rmd
  homeworks/hw2/GalinskiFilip/hw2FilipGalinski.html
Labels: HW2

#142 [HW2] Twarowski Kamil
  homeworks/hw2/TwarowskiKamil/PDr_2.Rmd
  homeworks/hw2/TwarowskiKamil/PDr_2.html
Labels: HW2

#143 [HW2] Niedzielewski Maciej
  homeworks/hw2/NiedzielewskiMaciej/homework02.Rmd
  homeworks/hw2/NiedzielewskiMaciej/praca_domowa_2.html
Labels: HW2

#144 [HW2] Olech Emilia
  homeworks/hw2/OlechEmilia/homework02.Rmd
  homeworks/hw2/OlechEmilia/homework02.html
Labels: HW2

#146 [HW2] Tywonek Jakub
  homeworks/hw2/TywonekJakub/homework02.Rmd
  homeworks/hw2/TywonekJakub/homework02.html
Labels: HW2

#147 [HW2] Gralak Karolina
  homeworks/hw2/GralakKarolina/homework02.Rmd
  homeworks/hw2/GralakKarolina/homework02.html
Labels: HW2

#148 [HW2] Mozaryn Pawel
  homeworks/hw2/MozarynPawel/pd2_mozaryn.Rmd
  homeworks/hw2/MozarynPawel/pd2_mozaryn.html
Labels: HW2

#150 [HW2] Wilk Dominik
  homeworks/hw2/WilkDominik/homework02.Rmd
  homeworks/hw2/WilkDominik/homework02.html
Labels: HW2

#151 [HW2] Kachniewska Olga
  homeworks/hw2/KachniewskaOlga/hw2_kachniewska_olga.Rmd
  homeworks/hw2/KachniewskaOlga/hw2_kachniewska_olga.html
Labels: HW2

#153 [HW2] Rogalska Roksana
  homeworks/hw2/RogalskaRoksana/homework02.Rmd
  homeworks/hw2/RogalskaRoksana/homework02.html
Labels: HW2

#154 [HW2] Mocarski Kacper
  homeworks/hw2/MocarskiKacper/homework02.Rmd
  homeworks/hw2/MocarskiKacper/homework02.html
Labels: HW2

#155 [HW2] Mazur Anna
  homeworks/hw2/MazurAnna/homework02.Rmd
  homeworks/hw2/MazurAnna/homework02.html
Labels: HW2

#157 [HW2] Talalaj Michal
  homeworks/hw2/TalalajMichal/hilfe.Rmd
  homeworks/hw2/TalalajMichal/hilfe.html
Labels: HW2

#162 [HW2] Mankowski Gerard
  homeworks/hw2/MankowskiGerard/homework02.Rmd
  homeworks/hw2/MankowskiGerard/homework02.html
Labels: HW2

#161 [HW2] Pawlak Stanislaw
  homeworks/hw2/PawlakStanislaw/homework02.Rmd
  homeworks/hw2/PawlakStanislaw/homework02.html
Labels: HW2

#159 [HW2] Junosza-Szaniawska Ewa
  homeworks/hw2/JunoszaSzaniawskaEwa/homework02.Rmd
  homeworks/hw2/JunoszaSzaniawskaEwa/homework02.html
Labels: HW2

#158 [HW2] Migasiuk Maciej
  homeworks/hw2/MigasiukMaciej/homework02.Rmd
  homeworks/hw2/MigasiukMaciej/homework02.html
Labels: HW2

#163 [HW2] Pieczywok Jan
  homeworks/hw2/PieczywokJan/homework02.Rmd
  homeworks/hw2/PieczywokJan/homework02.html
Labels: HW2

#164 [HW2] Kalis Krystian
  homeworks/hw2/KalisKrystian/homework02.Rmd
  homeworks/hw2/KalisKrystian/homework02.html
Labels: HW2

#165 [HW2] WIktor Chmiel
  homeworks/hw2/ChmielWiktor/homework02.Rmd
  homeworks/hw2/ChmielWiktor/homework02.html
Labels: HW2

#166 [HW2] Pinkowska Julia
  homeworks/hw2/PinkowskaJulia/homework02.Rmd
  homeworks/hw2/PinkowskaJulia/homework02.html
Labels: HW2

#169 [HW2] Utkowski Piotr
  homeworks/hw2/UtkowskiPiotr/homework02.Rmd
  homeworks/hw2/UtkowskiPiotr/homework02.html
Labels: HW2

#168 [HW2] Maja Wojtysiak-Kotlarska
  homeworks/hw2/WojtysiakMaja/homework02.Rmd
  homeworks/hw2/WojtysiakMaja/homework02.html
Labels: HW2

#171 [HW2] Mikolaj Pasnikowski
  homeworks/hw2/PasnikowskiMikolaj/homework02.Rmd
  homeworks/hw2/PasnikowskiMikolaj/homework02.html
Labels: HW2, Late ⏰
